@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
     font-family: "Roboto", sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.row {
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
}
.nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 32px;
}

.nav__logo {
     display: flex;
     align-items: center;
     margin: 8px 0;
     padding-bottom: 4px;
}

.nav__logo--img {
     height: 40px;
     width: 40px;
}

.nav__logo--title {
     font-weight: 900;
     font-size: 24px;
     margin-left: 12px;
     padding-bottom: 2px;
     letter-spacing: 0.6px;
}

.nav__links {
     display: flex;
     align-items: center;
     padding-bottom: 2px;
}

.nav__link {
     margin: 0 24px;
     font-size: 14px;
     font-weight: 600;
     padding-top: 4px;
     padding-bottom: 5px;
     letter-spacing: 0.35px;
     color: black;
     text-decoration: none;
     color: inherit;
     position: relative;
     padding-bottom: 5px;
    
}

.nav__link::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: 0px;
      width: 100%;
      height: 2px;
      opacity: 0;
      background-color: #6415ff;
      transition: all 300ms;
}

.nav__link:hover::after {
     
     opacity: 1;
}

.nav__login {
     margin-left: 48px;
     color: black;
     margin-left: 48px;
     margin-right: 20px;
     position: relative;
     
     

}

.nav__login::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: -5px;
      width: 100%;
      height: 2px;
      opacity: 0;
      background-color: #6415ff;
      display: inline-block;
      transition: all 300ms;
}

.nav__login:hover::after {
     opacity: 1;
}

.nav__sign-up {
     padding: 10px 32px;
     background-color: #6415ff;
     color: white;
     font-weight: 400;
     border-radius: 900px;
     transition: all 300ms;
}

.nav__sign-up:hover {
     background-color: rgb(80, 17, 204);
     color: white;
}

a {
     display: inline;
     text-decoration: none;
     
}

.text-purple {
     color:#6415ff
}



/*
HEADER
*/

.header__row {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 20px;
}

.container__header {
     padding: 96px 0;
}

.header__description {
     display: flex;
     flex-direction: column;
     width: 40%;
     
     
}

.header__img {
     width: 100%;
     max-width: 768px;
}

.header__img--wrapper{
     width: calc(100% - 40%);
}

.header__text {
     font-size: 48px;
     color: black;
     line-height: 1.25;
}

.menu__text {
     margin: 32px 0;
     line-height: 1.5;
     font-size: 18px;
     
}

.header__email form {
     width: 100%;
     font-size: 16px;
     border: 2px solid rgb(229, 231, 235);
     padding: 5px;
     border-radius: 500px;
     color: rgb(36, 62, 99);
     max-width: 400px;
     position: relative;
     display: flex;
     justify-content: flex-end;
     align-items: center;
}

.header__email input {
     flex: 1;
     border: none;
     outline: none;
     padding: 8px;
     font-size: 16px;
}

.header__email button {
     background-color: #6415ff;
     color: white;
     font-size: 20px;
     font-weight: 500;
     border: none;
     padding: 20px;
     border-radius: 40px;
     cursor: pointer;
}

.header__customers {
     margin-top: 16px;
     padding-right: 128px;
     opacity: 0.5;
     
}

.menu__description {
     margin-top: 60px;
     color: #a0aec0;
     font-size: 14px;
}

.header__img--customers {
     max-width: 450px;
     display: flex;
     
}


/* 

FEATURES

*/

.container__features {
     padding: 96px 0;
     
}

#features .row__narrow {

     display: flex;
     flex-direction: column;
     align-items: center;
}

.row__narrow {
     width: 100%;
     max-width: 1000px;
     margin: 0 auto;
}

.section__header {
     font-size: 16px;
     color: #6415ff;
     justify-content: center;
     align-items: center;
     text-align: center;
}

.feature {
     display: flex;
     width: calc(100% / 3);
}

.section__title--features {
     font-size: 54px;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin: 16px 0;
}

.section__title--para {
     font-size: 18px;
     font-weight: 500;
     color: #7c8ba1;
     
}

#features .section__title--para {
     text-align: center;
     max-width: 576px;
     line-height: 1.5;
     margin: auto;

}

.features {
     display: flex;
     flex-wrap: wrap;
     margin-top: 40px;
}

.feature__row {
     display: flex;
     align-items: flex-start;
     padding: 32px 24px;
}

.feature__img--wrapper {
    border: #e5e7eb solid;
    display: flex;
    border-radius: 500px;
    padding: 20px;
}

.feature__text {
     font-size: 17px;
     margin-top: 8px;
     margin-left: 16px;
     padding: 5px;
}

.feature__para {
     color: #7c8ba1;
     margin-top: 16px;
     font-size: 16px;
     max-width: 211px;
     line-height: 2;
     font-weight: 500;
}

/*

QUALITY WORK

*/

.container__quality {
     padding: 96px 0;
}

.row__quality {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 20px;
     margin: 0 auto;
     max-width: 1500px;
     width: 100%;
}

.section__tag {
     color: #6415ff;
     font-size: 16px;
     letter-spacing: 1.6px;
     font-weight: 700;
     text-transform: uppercase;
}

.section__title {
     line-height: 1.25;
     font-size: 48px;
     color: black;
     max-width: 450px;

}

.section__para {
     margin: 32px 0;
     line-height: 1.625;
     font-size: 18px;
     font-weight: 500;
     color: #7c8ba1;
}

.quality__btn {
     color: #fff;
     background-color: #6415ff;
     font-size: 14px;
     font-weight: bold;
     border: none;
     padding: 12px 32px;
     border-radius: 500px;
     cursor: pointer;
     width: 140px;
     transition: all 300ms ease;
}

.quality__btn:hover {
     background-color:  rgb(80, 17, 204);
}

.quality__description {
     width: 50%;
     display: flex;
     flex-direction: column;
}

.quality__img--wrapper {
     border-radius: 4px;
     border: 1px solid rgb(229, 231, 235);
     position: relative;
     width: 50%;
     z-index: 2;
     display: flex;
}

.quality__img {
     width: 100%;
     z-index: 1;
     
}

.quality__grid {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
}

/*

STEPS

*/


.container__steps{
     padding: 96px 0;
}

.row__steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.steps__description {
     display: flex;
     flex-direction: column;
     width: 50%;
     padding: 32px 0;
     padding-left: 64px;
}

.steps__img--wrapper {
     display: flex;
     position: relative;
     width: 50%
}


.number__step {
     color: #cbd5e0;
     font-size: 36px;
     font-weight: 600;
     line-height: 1;
}

.steps__img {
     z-index: 2;
     width: 100%;
}

.steps__grid {
     position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 10rem;
    opacity: 0.3;
    z-index: -10;
    color: rgb(100, 21, 255);
    fill: currentColor;
}


.section__title {
     font-size: 48px;
     font-weight: 900;
     color: rgb(36,62,99);
     line-height: 1.5;
     margin: 16px 0;
}

.step {
     display: flex;
     align-items: flex-start;
     margin-top: 32px;
}

.step__description {
     display: flex;
     flex-direction: column;
     margin-left: 24px;
}

.step__title {
     font-size: 20px;
     font-weight: 600;
     color: #243e63;
     line-height: 1;
}

.step__para {
     font-size: 16px;
     max-width: 300px;
     color: #718096;
     margin-top: 12px;
     font-weight: 500;
     line-height: 2;
}

/*

VALUE

*/

#values .container {
     padding: 96px 0;
}

#values .row {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.values__description {
     width: 50%;
     padding: 32px 64px 32px 0;
}

.section__tag--value {
     font-size: 16px;
     color: #6415ff;
     letter-spacing: 1.6px;
     font-weight: 700;
     text-transform: uppercase;
}

#values .section__title {
     margin-bottom: 16px;
     margin-top: 32px;
}

.section__para {
     font-size: 18px;
     font-weight: 500;
     color: #7c8ba1;
     line-height: 1.625;
}

.values__list {
     margin-left: 0px;
     margin-right: 0px;
     display: flex;
     max-width: none;
     flex-direction: row;
}

.value {
     align-items: flex-start;
     display: flex;
     flex-direction: column;
}

.value__para {
     margin-top: 16px;
     line-height: 1.625;
     color: #718096;
}

.value__name {
     margin-left: 12px;
     font-size: 20px;
     font-weight: bold;
     color: #243e63;
}

.value__img {
     width: 20px;
     height: 20px;
}

.value__img--wrapper {
     border-radius: 50%;
     background-color: #9ae6b4;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 36px;
     height: 36px;
}

.value__img--wrapper-2 {
     border-radius: 50%;
     background-color: #feb2b2;
     display: flex;
     justify-content: center;
     align-items: center;
     align-items: center;
     width: 36px;
     height: 36px;
}

.values__img {
     width: 50%;
}

.value__title {
    display: flex;
    align-items: center;
}

.values__list {
    display: flex;
    gap: 32px;
}

.value {
    width: 50%;
}

.btn__value {
     margin-top: 48px;
     background-color: #6415ff;
     padding: 12px 32px;
     border: none;
     border-radius: 500px;
     font-size: 14px;
     color: #fff;
     font-weight: bold;
     transition: all 300ms ease;
     cursor: pointer;
}

.btn__value:hover {
     background-color:  rgb(80, 17, 204);
}

/*

PRICING

*/

#price .row {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.section {
     padding: 0 32px;
}

.section__tag {
     text-align: center;
     font-size: 16px;
     color: #6415ff;
     letter-spacing: 1.6px;
     font-weight: 700;
     text-transform: uppercase;
}

.section__title--pricing {
     text-align: center;
     margin: 16px 0;
     font-size: 48px;
     font-weight: 900;
     color: rgb(36, 62 , 99);
     line-height: 1.5;
}

.section__para--pricing {
     text-align: center;
     font-size: 18px;
     font-weight: 500;
     color: #7c8ba1;
     line-height: 1.625;
}

.plans {
     display: flex;
     flex-wrap: wrap;
     position: relative;
     flex-direction: row;
     width: 100%;
     justify-content: space-between;
}
.plan {
     width: calc(100%/3);
     display: flex;
     flex-direction: column;
     position: relative;
     margin-top: 4rem;
     width: 100%;
     max-width: 24rem;
     flex-direction: column;
     border-radius: 0.5rem;
     background-color: rgb(255,255,255);
     padding-left: 2rem;
     padding-right: 2rem;
     margin-right: 2rem;
     padding-top: 0.5rem;
     text-align: center;
     color: rgb(26 32 44);
     box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan__banner-one {
     position:absolute;
     left: 0px;
     right: 0px;
     height: 0.5rem;
     background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
     border-radius: 500px;

}

.plan__top {
     display: flex;
     flex-direction: column;
     padding-top: 2rem;
     padding-bottom: 2rem;
     text-transform: uppercase;
     line-height: 1.625;
}

.plan__name {
     font-size: 20px;
     font-weight: bold;
     line-height: 1.625;
}

.plan__price {
     font-size: 48px;
     margin: 4px 0;
     font-weight: bold;
     line-height: 1.625;
}

.plan__duration {
     font-size: 16px;
     color: #a0aec0;
     font-weight: bold;
     letter-spacing: 0.1px;
     line-height: 1.625;
}

.plan__middle {
     margin-left: -2rem;
     margin-right: -2rem;
     display: flex;
     flex: 1 1 0%;
     flex-direction: column;
     padding: 2rem;
}

.audience {
     font-size: 20px;
     font-weight: 700;
     line-height: 1.5;
}

.plan__feature {
     margin-top: 20px;
     font-weight: 500;
     color: #718096;
     font-size: 16px;
     line-height: 1.5;
}

.plan__bottom {
     padding-left: 4rem;
     padding: 4rem;
     padding-top: 2rem;
     padding-bottom: 2rem;
}

.plan__button--one {
     border-radius: 9999px;
     padding-top: 1rem;
     padding-bottom: 1rem;
     width: 100%;
     font-weight: 700;
     transition: all 300ms ease;
     text-transform: uppercase;
     letter-spacing: 0.05rem;
     background-color: rgb(56 178 172);
     color: #f7fafc;
     background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
     border: none;
}

.plan__button--one:hover {
     cursor: pointer;

}

.plan:nth-child(1) .plan__middle, .plan:nth-child(3) .plan__middle {
     border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan:nth-child(2) .plan__middle {
     border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

/*

BUSINESS CARD

*/

.plan__banner-two {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan:nth-child(2) {
     background: linear-gradient(62deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__name--bns {
     font-size: 20px;
     font-weight: bold;
     line-height: 1.625;
     color: #f7fafc;
}

.plan__price-bns {
     color: #f7fafc;
     font-size: 48px;
     margin: 4px 0;
     font-weight: bold;
     line-height: 1.625;
}

.plan__duration--bns {
     color: #f7fafc;
     font-size: 16px;
     letter-spacing: 0.1em;
     font-weight: bold;
     line-height: 1.625;
}

.audience--bns {
     color: #f7fafc;
     font-size: 20px;
     font-weight: 700;
     line-height: 1.5;
     letter-spacing: 0.025em;
}

.plan__feature--bns {
     color: #f7fafc;
     margin-top: 20px;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
}

.plan__button--two {
     color: #6415ff;
     background-color: #f7fafc;
     padding: 0.75rem 2rem;
     font-weight: 700;
     transition: all 300ms ease;
     width: 100%;
     border-radius: 9999px;
     padding-top: 1rem;
     padding-bottom: 1rem;
     text-transform: uppercase;
     border: none;
}

.plan__button--two:hover {
     cursor: pointer;
     
}

/*

ENTERPRISE

*/

.plan__banner--three {
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    position: absolute;
   background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__button--three {
     color: #f7fafc;
     background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
     padding: 0.75rem 2rem;
     font-weight: 700;
     transition: all 300ms ease;
     width: 100%;
     border-radius: 9999px;
     padding-top: 1rem;
     padding-bottom: 1rem;
     font-size: 0.875rem;
     text-transform: uppercase;
     letter-spacing: 0.05em;
     border: none;
}

.plan__button--three:hover {
     cursor: pointer;
     
}